body {
  background: #ffffff;
  color: #000000;
  font-size: 14px;
  font-family: "TrebuchetMS", sans-serif;
;
  padding-bottom: 20px;
}
input{
  background-color: #f5f5f5;
}
.container_12{
  background-color: #fff;
  margin-bottom: 20px;
}
.top_line, .bottom_line{
  height: 26px;
  margin: 20px 0 16px;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.soc_icon_item span{
  height: 26px;
  width: 26px;
  margin-left: 2px;
  display: block;
  background-image: url(../img/soc_icon_set.png);
  background-position: 0 0;
}  
li{
  margin: 0;
  padding: 0;
  float: left;
}
.soc_icon_item:nth-child(1) span{
  background-position: -4px 0;
}
.soc_icon_item:nth-child(2) span{
  background-position: -49px 0;
}
.soc_icon_item:nth-child(3) span{
  background-position: -93px 0;
}
.soc_icon_item:nth-child(4) span{
  background-position: -139px 0;
  width: 40px;
}
.mright{
  margin-left: 0;
}
.form_line{
  width: 220px;
  display: inline-block;
  position: relative;
}
.input_search{
  width: 150px;
  height: 20px;
  display: block;
}
.btn_search{
  display: block;
  width: 65px;
  height: 20px;
  background-color: #eaeaea;
  font-size: 14px;
  position: absolute;
  right: -5px;
  top: 2px;
  text-align: center;
}
.bg_line{
  background-color: #e6e6e6;
  width: 100%;
  height: 1px;
}
.ul_wrap{
  margin-top: 15px;
  list-style: square;
}
.ul_wrap li{
  margin-left: 10px;
}
p{
  font-size: 14px;
  font-family: "TrebuchetMS";
  line-height: 1.4;
}
p, h2, h3, h4, table {
  margin: 30px 0 0;
  padding: 0;
  text-align: left;
}
.p_fz30{
  font-size: 30px;
  font-family: "TrebuchetMS";
}
small{
  font-size: 14px;
  font-family: "Trebuchet-BoldItalic";
  float: right;
}
.p_fz16{
  font-size: 16px;
  font-family: "TrebuchetMS";
}
h2{
  font-size: 22px;
  font-family: "TrebuchetMS";
}
h3{
  font-size: 18px;
  font-family: "TrebuchetMS";
}
.text_bg{
  background-color: #f9f8f4;
  display: block;
  height: 80px;
  border: 2px solid #edebdc;
  border-left: 7px solid #edebdc;
  margin-top: 30px;
  margin-left: 40px;
  padding: 10px;
  font-size: 14px;
  font-family: "TrebuchetMS-Bold";
  line-height: 1.7;
}
h4{
  font-size: 14px;
  font-family: "TrebuchetMS";
}
span{
  font-size: 14px;
  font-family: "TrebuchetMS-Bold";
}
.tab_wrap{
  width: 699px;
  height: 146px;
  font-size: 12px;
  position: relative;
}
.tab_tr_bg{
    background-image:  -webkit-linear-gradient(#ededed, #cfcfcf);
    background-image:  -o-linear-gradient(#ededed, #cfcfcf);
    background-image:  linear-gradient(#ededed, #cfcfcf);
    background-position: 0 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 25px;
    position: absolute;
    width: 700px;
    top:-10px;
    left: -1px;
}  
.tab_tr_bg > td {
  padding-left: 10px;
  width: 180px;
}
.tab_tr_line > td{
  border:1px solid #e5e5e5; 
}
td{
  height: 25px;
  width: 180px;
  line-height: 25px;
  text-align: left;
  padding-left: 10px;
}
.tab_tr_bg > td:nth-child(3), 
.tab_tr_line > td:nth-child(3) {
  width: 140px;
  padding-left: 10px;
}
.ul_line{
  list-style: none;
  margin: 30px 0 30px 40px;
}
.ul_line li{
  float: none;
}
.ul_line  li:before {
  content: "-";
  position: relative;
  left:     -5px;
}
.text_right{ 
  margin: 30px 0 15px;
  max-width: 216px;
  height: 204px;
  border: 1px solid #efeddd;
  display: inline-block;
  background-color: #faf8f4;
  font-size: 14px;
  font-family: "Trebuchet-BoldItalic";
  padding: 20px 10px;
  position: relative;
  line-height: 1.7;
}
.text_right:after {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  width: 0px;
  height: 0px;
  border-top: 16px solid #ffffff;
  border-left: 30px solid #efeddd;
}
img{
  margin-top: 15px;
  height: 140px;
  width: 220px;
}